<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{normal/base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user_dashboard</title>
</head>
<body>
    <section>
        <div class="card mr-4">
            <div class="card-body">
                <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert" role="alert">
                    <p th:text="${session.message.content}"></p>
                    <th:block th:text="${@sessionHelper.removeMessageFromSession()}"></th:block>
                </div>
                <h1 class="text-center">View Contacts</h1>
                <div class="container-fluid mt-1">
                    <div>
                        <table class="table">
                            <thead>
                              <tr>
                                <th scope="col" class="text-center">#</th>
                                <th scope="col" class="text-center">cid</th>
                                <th scope="col" class="text-center">Name</th>
                                <th scope="col" class="text-center">Phone</th>
                                <th scope="col" class="text-center">Action</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr th:each="c : ${contacts}">
                                <th scope="row" th:text="${'S20' + c.cid}" class="text-center">1</th>
                                <td th:text="${c.cid}" class="text-center">Mark</td>
                                <td class="text-center"><a class="text-center" th:href="@{'/user/' + ${c.cid}+'/contact-details'}" href=""><span th:text="${c.Name}" class="text-center"></span></a></td>
                                <!-- <td th:href="@{'user/' + ${c.cid}+'/contact-details'}" th:text="${c.Name}" class="text-center">Otto</td> -->
                                <td th:text="${c.Phone}" class="text-center">@mdo</td>
                                <!-- <td class="text-center"><button class="btn btn-primary mr-1">View</button><button class="btn btn-danger mr-1">Delete</button></td> -->
                                <td class="text-center"><a th:href="@{'/user/' + ${c.cid}+'/contact-details'}" href=""><button class="btn btn-primary mr-1">View</button></a><a th:href="@{'/user/delete/'+ ${c.cid}}" href=""><button class="btn btn-danger mr-1">Delete</button></a></td>
                              </tr>
                            </tbody>
                          </table>
                    </div>

                </div>
            </div>
            <nav  aria-label="Page navigation example">
            <nav class="mr-1" aria-label="Page navigation example">
                <ul class="pagination">
                  <li th:if="${currentPage != 0}" class="page-item"><a class="page-link" th:href="@{'/user/view-contact/'+${currentPage-1}}" href="#">Previous</a></li>
                  <li th:classappend="${currentPage==i-1?'active':''}" th:each=" i : ${#numbers.sequence(1,totalPages)}" class="page-item"><a class="page-link" th:href="@{'/user/view-contact/'+${i-1}}" href="#"><span th:text="${i}"></span></a></li>
                  <li th:if="${currentPage+1 != totalPages}" class="page-item"><a class="page-link" th:href="@{'/user/view-contact/'+${currentPage+1}}" href="#">Next</a></li>
                </ul>
              </nav>
        </div>
        
    </section>
</body>
</html>